osv2-app2/src/main/mule/osv2-app2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4403bef5-0c0a-4321-b528-145dc71b0730" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="bd62b9d7-3516-45a9-89ca-44b5b9ca0669" file="mule-properties.yaml" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="8af8f401-0463-4697-bf18-2924e3f49371" >
		<http:request-connection protocol="HTTPS" host="anypoint.mulesoft.com" port="443" >
			<tls:context >
				<tls:key-store type="jks" path="keystore.jks" keyPassword="${tls.password}" password="${tls.password}" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<http:request-config name="OSV2_HTTPS_Request_configuration" doc:name="HTTP Request configuration" doc:id="14897ab5-acf2-4bfd-af3d-3ac6ce28b28b" >
		<http:request-connection protocol="HTTPS" host="${osv2.base_url}" port="443" />
	</http:request-config>
	
	<flow name="put-string-to-osv2" doc:id="d3b3a025-b53a-4c0f-9095-79a997c428fc">
		<http:listener doc:name="/putstring" doc:id="7d53a6c8-1951-47e8-929c-b9b0b5572b56" config-ref="HTTP_Listener_config" path="/putstring" />
		<http:request method="POST" doc:name="Get Token" doc:id="2d6e8b03-b478-4e1b-997d-2df880ec0fe9" config-ref="HTTP_Request_configuration" path="/accounts/oauth2/token" target="access_token" targetValue="#[payload.access_token]">
			<http:body><![CDATA[#[output application/x-www-form-urlencoded 
--- 
{	
	client_id : p('osv2.client_id'), 	
	client_secret : p('osv2.client_secret'),	
	grant_type : "client_credentials"
}]]]></http:body>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="8d3aff91-63f2-4386-8198-6ebe88db411e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"keyId": "2",
	"stringValue": "TEST1",
	"valueType":"STRING"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PUT" doc:name="Store String" doc:id="b5ab1074-3fd0-4718-be99-bfb9c285032e" config-ref="OSV2_HTTPS_Request_configuration" path="#[&quot;/api/v1/organizations/&quot; ++ p('org_id') ++ &quot;/environments/&quot; ++ p('env_id') ++ &quot;/stores/&quot; ++ p('osv2.store') ++&quot;/partitions/_defaultPartition/keys/2&quot;]">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "bearer " ++ vars.access_token
}]]]></http:headers>
		</http:request>
	</flow>
	<flow name="put-number-to-osv2" doc:id="0808fddd-d678-4097-b015-8f5c8056299c">
		<http:listener doc:name="/putnumber" doc:id="d3e92204-35ff-48c2-8fbb-637539f27ca2" config-ref="HTTP_Listener_config" path="/putnumber" />
		<http:request method="POST" doc:name="Request" doc:id="6e31dbd1-d595-4fe4-a480-ddf0ccfef84e" config-ref="HTTP_Request_configuration" path="/accounts/oauth2/token" target="access_token" targetValue="#[payload.access_token]">
			<http:body><![CDATA[#[output application/x-www-form-urlencoded 
--- 
{	
	client_id : p('osv2.client_id'), 	
	client_secret : p('osv2.client_secret'),	
	grant_type : "client_credentials"
}]]]></http:body>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="6e899e98-1c17-4382-9e5b-5b80ade2ce17">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"keyId": "3",
	"numberValue": 3434,
	"valueType":"NUMBER"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PUT" doc:name="Request" doc:id="1fe0ca24-a41d-4a34-b8d0-2b1a5a632fcf" config-ref="OSV2_HTTPS_Request_configuration" path="#[&quot;/api/v1/organizations/&quot; ++ p('org_id') ++ &quot;/environments/&quot; ++ p('env_id') ++ &quot;/stores/&quot; ++ p('osv2.store') ++&quot;/partitions/_defaultPartition/keys/3&quot;]">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "bearer " ++ vars.access_token
}]]]></http:headers>
		</http:request>
	</flow>
	<flow name="get-key-flow" doc:id="7d3ee885-3843-437b-84d1-574f7ee7862b">
		<http:listener doc:name="/getkey" doc:id="b9481bcf-0dc6-4dc4-8582-a27254499038" config-ref="HTTP_Listener_config" path="/getkey" />
		<http:request method="POST" doc:name="Get Token" doc:id="f379353b-5a08-4098-8a3b-6523647225f6" config-ref="HTTP_Request_configuration" path="/accounts/oauth2/token" target="access_token" targetValue="#[payload.access_token]">
			<http:body><![CDATA[#[output application/x-www-form-urlencoded 
--- 
{	
	client_id : p('osv2.client_id'), 	
	client_secret : p('osv2.client_secret'),	
	grant_type : "client_credentials"
}]]]></http:body>
		</http:request>
		<http:request method="GET" doc:name="Get Key" doc:id="c3e5d9c0-880f-4a41-abb2-052e3aa63ec0" config-ref="OSV2_HTTPS_Request_configuration" path="#[&quot;/api/v1/organizations/&quot; ++ p('org_id') ++ &quot;/environments/&quot; ++ p('env_id') ++ &quot;/stores/&quot; ++ p('osv2.store') ++&quot;/partitions/_defaultPartition/keys/&quot; ++ attributes.queryParams.key]">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "bearer " ++ vars.access_token
}]]]></http:headers>
		</http:request>
	</flow>
	<flow name="osv2-app2Flow" doc:id="dfc5ec10-d38c-4522-95dd-675a79a7e015" >
		<http:listener doc:name="/getstores" doc:id="c136cb8b-0b9b-4dda-b76e-150ba35cfea2" config-ref="HTTP_Listener_config" path="/getstores"/>
		<http:request method="POST" doc:name="Request" doc:id="cb109c90-331f-4a46-a950-34c83f05508d" config-ref="HTTP_Request_configuration" path="/accounts/oauth2/token" target="access_token" targetValue="#[payload.access_token]">
			<http:body><![CDATA[#[output application/x-www-form-urlencoded 
--- 
{	
	client_id : p('osv2.client_id'), 	
	client_secret : p('osv2.client_secret'),	
	grant_type : "client_credentials"
}]]]></http:body>
		</http:request>
		<http:request method="GET" doc:name="Stores" doc:id="e1c070fb-b329-4e32-b642-db8145788e00" config-ref="OSV2_HTTPS_Request_configuration" path="#[&quot;/api/v1/organizations/&quot; ++ p('org_id') ++ &quot;/environments/&quot; ++ p('env_id') ++ &quot;/stores&quot;]">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "bearer " ++ vars.access_token
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="5e2601b6-a708-4678-aa39-578d04c0e28a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform></flow>
</mule>
